@model SistemaAnubis.Models.DTO.ClienteDTO

@{
    ViewBag.Title = "Cliente";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        <div class="form-container" style="padding: 15% 0 10% 0;">
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <h1 class="text-center">Você precisa se logar!</h1>
                <div class="col text-center my-3">
                    <button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary">Logar.</button>
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Voltar ao início.</button>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";

        if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
        {
            using (Html.BeginForm("Cliente", "Busca", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
            {
                <legend class="text-center card-title" style="color:white">Buscar Cliente</legend>
                <div class="form-group col-4 mx-auto text-center">
                    <fieldset id="busca">
                        @Html.Label("Digite o nome, cpf ou e-mail")

                        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })

                        <div class="col text-center my-3">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>



                    </fieldset>
                </div>

                if (ViewBag.GridViewString == "Nenhum dado foi encontrado" || ViewBag.GridViewString == "Cpf Inválido")
                {
                    <label style="width: -webkit-fill-available; text-align: center; color:rgba(0,0,0,1)">@ViewBag.GridViewString</label>
                }
                else
                {
                    @Html.Raw(@ViewBag.GridViewString)
                }
            }

        }
        else
        {
            <div class="form-container" style="padding: 15% 0 10% 0;">
                <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                    <h1 class="text-center">Acesso negado</h1>
                    <div class="col text-center my-3">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Busca")'">
                            Voltar ao início
                        </button>
                    </div>
                </div>
            </div>
        }
    }
}
