<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link type="text/css" href="~/Scripts/style.css" rel="stylesheet">
</head>
<body style="background-color:black">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" href="index.html">Anubis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a onclick="location.href='@Url.Action("Index", "Home")'" style = "color:#ffffff" class = "nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a onclick="location.href='@Url.Action("Empresa", "Home")'" style="color:#ffffff" class="nav-link">Empresa</a>
                </li>
                <li class="nav-item">
                    <a onclick="location.href='@Url.Action("Portifolio", "Home")'" style="color:#ffffff" class="nav-link">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a onclick="location.href='@Url.Action("Suporte", "Home")'" style="color:#ffffff" class="nav-link">Suporte</a>
                <li class="nav-item">
                    <a onclick="location.href='@Url.Action("Login", "Home")'" style="color:#ffffff" class="nav-link">Entre ou Cadastre-se</a>
                </li>
            </ul>
        </div>
    </nav>

    @RenderBody()

    <footer style="padding-top: 0; padding-bottom: 0;">
        <div class="container-fluid" style="background-color: #000000;">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Horários</h5>
                    <hr class="light">
                    <p>De segunda à sexta: 07hr às 22hr</p>
                    <p>Sábado: 12hr às 20hr</p>
                    <p>Domingo: Fechado.</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Áreas de serviço</h5>
                    <hr class="light">
                    <p>Vila Leopoldina, São Paulo, 437</p>
                    <p>Carapicuíba, São Paulo, 103</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Contato Rápido</h5>
                    <hr class="light">
                    <p>(11) 4147-1234</p>
                    <p>anubisfuneraria@gmail.com</p>
                </div>
                <div class="col-12 pb-0">
                    <hr class="light-100">
                    <img src="~/Imagens/emgelf_logo.PNG" style="width: 100px; height: 100px; padding-bottom: 10px;">
                    <p>Website inteiramente produzido pela empresa Emgelf Corporation.</p>
                    <p>COPYRIGHT &copy; 2019. TODOS OS DIREITOS RESERVADOS.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>