<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <link type="text/css" href="~/Scripts/style.css" rel="stylesheet">

</head>
<body style="overflow-x: hidden; background-color:black;">

    <!-- Navigation -->
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">Funções Administrativas</div>
            <div class="list-group list-group-flush">


                <div class="sidebar-heading dropdown-toggle" id="cadastro">Cadastro</div>
                <a class="list-group-item list-group-item-action" style="display:none" id="cadFal" href='@Url.Action("Falecido", "Cadastro")'>Falecido</a>
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
                {
                    <a class="list-group-item list-group-item-action" id="cadCli" style="display:none" href='@Url.Action("Cliente", "Cadastro")'>Cliente</a>
                    <a class="list-group-item list-group-item-action" id="cadFunc" style="display:none" href='@Url.Action("Funcionario", "Cadastro")'>Funcionario</a>
                }
                @if (MvcApplication.Session.Instance.Nvl == "1")
                {
                    <a style="display:none" id="cadAdm" class="list-group-item list-group-item-action" href='@Url.Action("Administrador", "Cadastro")'>Administrador</a>
                }
                <a style="display:none" id="cadUrna" class="list-group-item list-group-item-action" href='@Url.Action("Urna", "Cadastro")'>Urna</a>
                <a style="display:none" id="cadCai" class="list-group-item list-group-item-action" href='@Url.Action("Caixao", "Cadastro")'>Caixao</a>
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
                {
                    <a style="display:none" id="cadFlor" class="list-group-item list-group-item-action" href='@Url.Action("Flores", "Cadastro")'>Flor</a>
                    <a style="display:none" id="cadCoroa" class="list-group-item list-group-item-action" href='@Url.Action("Coroa", "Cadastro")'>Coroa</a>
                }


                <div class="sidebar-heading dropdown-toggle" id="busca">Busca</div>
                <a style="display:none" href='@Url.Action("Plano", "Busca")' class="list-group-item list-group-item-action" id="busPlano">Plano</a>
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
                {
                    <a style="display:none" href='@Url.Action("Cliente", "Busca")' class="list-group-item list-group-item-action" id="busCli">Cliente</a>
                    <a style="display:none" href='@Url.Action("Funcionario", "Busca")' class="list-group-item list-group-item-action" id="busFunc">Funcionario</a>
                }
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) == 1)
                {
                    <a style="display:none" href='@Url.Action("Administrador", "Busca")' class="list-group-item list-group-item-action" id="busAdm">Administrador</a>
                }
                <a style="display:none" href='@Url.Action("Coroa", "Busca")' class="list-group-item list-group-item-action" id="busCoroa">Coroa</a>
                <a style="display:none" href='@Url.Action("Caixao", "Busca")' class="list-group-item list-group-item-action" id="busCai">Caixão</a>
                <a style="display:none" href='@Url.Action("Flores", "Busca")' class="list-group-item list-group-item-action" id="busFlor">Flor</a>
                <a style="display:none" href='@Url.Action("Urna", "Busca")' class="list-group-item list-group-item-action" id="busUrna">Urna</a>

                <div class="sidebar-heading dropdown-toggle" id="alterar">Alterar Informações</div>
                <a href='@Url.Action("Planos", "Alterar")' class="list-group-item list-group-item-action" style="display:none" id="planoAlt">Planos</a>
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
                {
                    <a href='@Url.Action("Cliente", "Alterar")' class="list-group-item list-group-item-action" style="display:none" id="clienteAlt">Cliente</a>
                    <a href='@Url.Action("Funcionario", "Alterar")' class="list-group-item list-group-item-action" style="display:none" id="funcionarioAlt">Funcionário</a>
                }
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) == 1)
                {
                    <a href='@Url.Action("Administrador", "Alterar")' class="list-group-item list-group-item-action" style="display:none" id="administradorAlt">Administrador</a>
                }
                <a href='@Url.Action("Urna", "Alterar")' class="list-group-item list-group-item-action" style="display:none" id="administradorAlt">Urna</a>


                @if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
                {
                    <div class="sidebar-heading dropdown-toggle" id="consultar">Listas</div>
                    <a href='@Url.Action("Planos", "Consulta")' class="list-group-item list-group-item-action" style="display:none" id="planoList">Planos</a>
                    <a href='@Url.Action("Cliente", "Consulta")' class="list-group-item list-group-item-action" style="display:none" id="clienteList">Cliente</a>
                    <a href='@Url.Action("Funcionario", "Consulta")' class="list-group-item list-group-item-action" style="display:none" id="funcionarioList">Funncionário</a>
                }
                else
                {
                    <a href='@Url.Action("Planos", "Consulta")' class="list-group-item list-group-item-action" id="planoList">Planos</a>
                }
                @if (int.Parse(MvcApplication.Session.Instance.Nvl) == 1)
                {
                    <a href='@Url.Action("Administrador", "Consulta")' class="list-group-item list-group-item-action" style="display:none" id="administradorList">Administrador</a>
                }
                <a href='@Url.Action("Comprar", "Compra")' class="list-group-item list-group-item-action" id="">Compra</a>


            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg" style="background-color: #000; color: #fff;">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <!---h3>@ViewBag.mensagem</h3--->
                <li class="nav-item dropdown ml-auto" style="list-style-type: none;">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu" style="list-style-type: none;">
                            <li class="menu-has-children" style="list-style-type: none;">
                                <a>Minha Conta</a>
                                <ul style="list-style-type: none; right: 0%;">
                                    <li><a href="@Url.Action("MudarSenha", "Alterar")">Mudar Senha</a></li>
                                    @if (MvcApplication.Session.Instance.Nvl == "3")
                                    {
                                        <li><a href="@Url.Action("ClienteInfo", "Alterar")">Alterar</a></li>
                                    }
                                    else if (MvcApplication.Session.Instance.Nvl == "2")
                                    {
                                        <li><a href="@Url.Action("FuncionarioInfo", "Alterar")">Alterar</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("AdministradorInfo", "Alterar")">Alterar</a></li>
                                    }
                                    <li><a href="@Url.Action("Index", "Home")">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </li>
            </nav>
            @RenderBody()
                
        </div>
    </div>

        <!-- Bootstrap core JavaScript -->
        
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");

                $("#busca").click(function () {
                    if ($("#busPlano").css("display") == "none") {
                        $("#busPlano").fadeIn();
                        $("#busAdm").fadeIn();
                        $("#busFunc").fadeIn();
                        $("#busCli").fadeIn();
                        $("#busCoroa").fadeIn();
                        $("#busCai").fadeIn();
                        $("#busFlor").fadeIn();
                        $("#busUrna").fadeIn();
                    } else {
                        $("#busPlano").fadeOut();
                        $("#busAdm").fadeOut();
                        $("#busFunc").fadeOut();
                        $("#busCli").fadeOut();
                        $("#busCoroa").fadeOut();
                        $("#busCai").fadeOut();
                        $("#busFlor").fadeOut();
                        $("#busUrna").fadeOut();
                    }
                });

                $("#alterar").click(function () {
                    if ($("#administradorAlt").css("display") == "none") {
                        $("#administradorAlt").fadeIn();
                        $("#clienteAlt").fadeIn();
                        $("#funcionarioAlt").fadeIn();
                        $("#planoAlt").fadeIn();
                    } else {
                        $("#administradorAlt").fadeOut();
                        $("#clienteAlt").fadeOut();
                        $("#funcionarioAlt").fadeOut();
                        $("#planoAlt").fadeOut();
                    }
                });


                $("#consultar").click(function () {
                    if ($("#administradorList").css("display") == "none") {
                        $("#administradorList").fadeIn();
                        $("#clienteList").fadeIn();
                        $("#funcionarioList").fadeIn();
                        $("#planoList").fadeIn();
                    } else {
                        $("#administradorList").fadeOut();
                        $("#clienteList").fadeOut();
                        $("#funcionarioList").fadeOut();
                        $("#planoList").fadeOut();
                    }
                });

                $("#cadastro").click(function () {
                    if ($("#cadAdm").css("display") == "none") {
                        $("#cadCoroa").fadeIn();
                        $("#cadFlor").fadeIn();
                        $("#cadUrna").fadeIn();
                        $("#cadCai").fadeIn();
                        $("#cadAdm").fadeIn();
                        $("#cadCli").fadeIn();
                        $("#cadFal").fadeIn();
                        $("#cadFunc").fadeIn();
                    } else {
                        $("#cadCoroa").fadeOut();
                        $("#cadFlor").fadeOut();
                        $("#cadUrna").fadeOut();
                        $("#cadCai").fadeOut();
                        $("#cadAdm").fadeOut();
                        $("#cadCli").fadeOut();
                        $("#cadFal").fadeOut();
                        $("#cadFunc").fadeOut();
                    }
                });
            });
        </script>
    </body>
</html>