<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anubis - Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script language="javaScript" type="text/javascript" src="~/Scripts/script.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/style.css" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">

    <!-- Navigation -->
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">Funções Administrativas</div>
            <div class="list-group list-group-flush">
                <div class="sidebar-heading">Cadastro</div>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Caixao", "Cadastro")'">Caixao</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Cliente", "Cadastro")'">Cliente</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Falecido", "Cadastro")'">Falecido</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Funcionario", "Cadastro")'">Funcionario</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Administrador", "Cadastro")'">Administrador</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Urna", "Cadastro")'">Urna</a>
                <a class="list-group-item list-group-item-action" onclick="location.href='@Url.Action("Caixao", "Cadastro")'">Caixão</a>
                <div class="sidebar-heading">Outras Funções</div>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Busca/Alteração</a>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Planos</a>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Compras</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg" style="background-color: #000; color: #fff;">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <!---h3>@ViewBag.mensagem</h3--->
                <li class="nav-item dropdown ml-auto" style="list-style-type: none;">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu" style="list-style-type: none;">
                            <li class="menu-has-children" style="list-style-type: none;">
                                <a>Minha Conta</a>
                                <ul style="list-style-type: none; right: 0%;">
                                    <li><a href="#">Configurações</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="@Url.Action("Index", "Home")">Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </li>
            </nav>
            @RenderBody()
                
        </div>
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>
        
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    </body>
</html>