<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anubis - Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script language="javaScript" type="text/javascript" src="~/Scripts/script.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Scripts/style.css" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">

    <!-- Navigation -->
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-heading">Funções Administrativas</div>
            <div class="list-group list-group-flush">
                <div class="sidebar-heading">Cadastro</div>
                @Html.ActionLink("Cliente", "Cliente", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Falecido", "Falecido", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Funcionário", "Funcionario", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Administrador", "Administrador", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Urna", "Urna", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                @Html.ActionLink("Caixão", "Caixao", "Cadastro", new { @class = "list-group-item list-group-item-action" })
                <div class="sidebar-heading">Outras Funções</div>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Busca/Alteração</a>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Planos</a>
                <a href="#" class="list-group-item list-group-item-action" id="list-group-item">Compras</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg" style="background-color: #000; color: #fff;">
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <h3>@ViewBag.mensagem</h3>
            </nav>            
            @RenderBody()
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
    </body>
</html>