@model SistemaAnubis.Models.DTO.FuncionarioDTO

@{
    ViewBag.Title = "Cadastrar Funcionário";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        <h1>Faça login primeiro</h1>
        <a onclick="location.href='@Url.Action("Login", "Home")'">Voltar</a>

    }
    else
    {
        if (int.Parse(MvcApplication.Session.Instance.Nvl) <= 2)
        {
            using (Html.BeginForm("Funcionario", "Cadastro", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
            {
                <legend class="text-center card-title" style="color:white">Cadastrar </legend>
                <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                    <fieldset>

                        @Html.ValidationSummary()
                        <li style="display:none">
                            <legend>Cadastrar Administrador</legend>
                        </li>
                        @Html.LabelFor(m => m.User) <br>

                        @Html.TextBoxFor(m => m.User, new { @class = "form-control" })  @ViewBag.erro <br>

                        @Html.LabelFor(m => m.Senha) <br>

                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.ConfSenha) <br>

                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Nome) <br>

                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })<br>

                        @Html.LabelFor(m => m.Cpf) <br>

                        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Email) <br>

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Telefone) <br>

                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Celular) <br>

                        @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Cep) <br>

                        @Html.TextBoxFor(m => m.Cep, new { @class = "form-control" }) <br>

                        @Html.LabelFor(m => m.Num) <br>

                        @Html.TextBoxFor(m => m.Num, new { @class = "form-control" }) <br>


                        <div class="col text-center my-3">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>

                    </fieldset>
                </div>
            }

        }
        else
        {
            <h1>Permissão negada</h1>
            <a onclick="location.href='@Url.Action("Index", "Busca")'">Voltar</a>
        }
    }
}
