@model SistemaAnubis.Models.DTO.PlanoDTO
@using SistemaAnubis.Models.DTO;

@{
    ViewBag.Title = "Cadastrar Administrador";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        <div class="form-container" style="padding: 15% 0 10% 0;">
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
            <h1 class="text-center">Você precisa se logar!</h1>
                <div class="col text-center my-3">
                    <button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary">Logar.</button>
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Voltar ao início.</button>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";


        List<string> tipoCaixao = new List<string>();
        tipoCaixao.Add("");
        foreach (CaixaoDTO dto in Model.arrayC)
        {
            tipoCaixao.Add(dto.ToString());
        }

        List<string> tipoUrna = new List<string>();
        tipoUrna.Add("");
        foreach (UrnaDTO dto in Model.arrayU)
        {
            tipoUrna.Add(dto.ToString());
        }

        List<string> tipoCoroa = new List<string>();
        tipoCoroa.Add("");
        foreach (CoroaDTO dto in Model.arrayCO)
        {
            tipoCoroa.Add(dto.ToString());
        }

        List<string> tipoFlor = new List<string>();
        tipoFlor.Add("");
        foreach (FloresDTO dto in Model.arrayF)
        {
            tipoFlor.Add(dto.ToString());
        }

        

        using (Html.BeginForm("Plano", "Cadastro", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
        {

            <legend class="text-center card-title" style="color:white">Cadastrar Plano</legend>
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <fieldset>
                    @Html.ValidationSummary()

                    @Html.LabelFor(m => m.Nome)

                    @Html.TextBoxFor(m => m.Nome, new { @class="form-control"})

                    @Html.LabelFor(m => m.Caixao)

                    @Html.DropDownListFor(m => m.Caixao, new MultiSelectList(tipoCaixao), new { @class = "form-control" })

                    @Html.LabelFor(m => m.Urna)

                    @Html.DropDownListFor(m => m.Urna, new MultiSelectList(tipoUrna), new { @class = "form-control" })

                    @Html.LabelFor(m => m.Coroa)

                    @Html.DropDownListFor(m => m.Coroa, new MultiSelectList(tipoCoroa), new { @class = "form-control" })

                    @Html.LabelFor(m => m.QuantCoroa)

                    @Html.TextBoxFor(m => m.QuantCoroa, new { @type = "number", @class = "form-control" })

                    @Html.LabelFor(m => m.Flor)

                    @Html.DropDownListFor(m => m.Flor, new MultiSelectList(tipoFlor), new { @class = "form-control" })

                    @Html.LabelFor(m => m.QuantFlor)

                    @Html.TextBoxFor(m => m.QuantFlor, new { @type = "number", @class = "form-control" })

                    @Html.LabelFor(m => m.Veu)

                    @Html.CheckBoxFor(m => m.Veu, new { @class = "form-control" })

                    @Html.LabelFor(m => m.Necromaquiagem)

                    @Html.CheckBoxFor(m => m.Necromaquiagem, new { @class = "form-control" })

                    @Html.LabelFor(m => m.Paramentacao)

                    @Html.CheckBoxFor(m => m.Paramentacao, new { @class = "form-control" })

                    @Html.LabelFor(m => m.Translado)

                    @Html.CheckBoxFor(m => m.Translado, new { @class = "form-control" })

                    <div class="col text-center my-3">
                        <button type="submit" class="btn btn-primary">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </fieldset>
            </div>
            }
        }
        
    }