@model SistemaAnubis.Models.DTO.UrnaDTO

@{
    Layout = "~/Views/Shared/_Logado.cshtml";
    ViewBag.Title = "Cadastrar Administrador";

    List<string> TiposUrna = new List<string>();
    TiposUrna.Add("Urna alta");
    TiposUrna.Add("Urna baixa");
}
@using (Html.BeginForm("Urna", "Cadastro", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
{
<div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
    <fieldset>
        <div class="validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>

        @Html.ValidationSummary()


        @Html.DropDownList("TiposProjetos", new MultiSelectList(TiposUrna), new { id = "dropUrna", @class = "form-control my-2", onChange = "Urna();" })


        @Html.LabelFor(m => m.Altura)

        @Html.TextBoxFor(m => m.Altura, new { @readonly = "readonly", @id = "altura", @class = "form-control" })

        @Html.LabelFor(m => m.Largura)

        @Html.TextBoxFor(m => m.Largura, new { @readonly = "readonly", @id = "largura", @class = "form-control" })

        @Html.LabelFor(m => m.Profundidade)

        @Html.TextBoxFor(m => m.Profundidade, new { @readonly = "readonly", @id = "profundidade", @class = "form-control" })

        @Html.LabelFor(m => m.Nome)

        @Html.TextBoxFor(m => m.Nome, new { id = "Nome", @class = "form-control" })

        @Html.LabelFor(m => m.Descricao)

        @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })

        @Html.LabelFor(m => m.Valor)

        @Html.TextBoxFor(m => m.Valor, new { @readonly = "readonly", @id = "valor", @class = "form-control" })
        <div class="col text-center my-3">
            <button type="submit" class="btn btn-primary">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </fieldset>
</div>
 }
    