@model IEnumerable<SistemaAnubis.Models.DTO.AdministradorDTO>

@{
    ViewBag.Title = "Cliente";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        <div class="form-container" style="padding: 15% 0 10% 0;">
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <h1 class="text-center">Você precisa fazer login!</h1>
                <div class="col text-center my-3">
                    <button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary">Logar.</button>
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Voltar ao início.</button>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";
        if (int.Parse(MvcApplication.Session.Instance.Nvl) == 1)
        {
            <h2>Administradores</h2>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Num)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nvl)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Num)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nvl)
                        </td>
                    </tr>
                }

            </table>

        }
        else
        {
            <div class="form-container" style="padding: 15% 0 10% 0;">
                <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                    <h1 class="text-center">Acesso negado</h1>
                    <div class="col text-center my-3">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Busca")'">
                            Voltar ao início
                        </button>
                    </div>
                </div>
            </div>
        }
    }
}