@model IEnumerable<SistemaAnubis.Models.DTO.PlanoDTO>

@{
    ViewBag.Title = "Planos";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        <div class="form-container" style="padding: 15% 0 10% 0;">
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <h1 class="text-center">Você precisa se logar!</h1>
                <div class="col text-center my-3">
                    <button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary">Logar.</button>
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Voltar ao início.</button>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";
        using (Html.BeginForm("Administrador", "Alterar", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
        {
        <table class="table table-hover table-bordered mx-auto col-1"  id="tabela-principal" style="font-size:15px;" >
            <thead>
                <tr style="text-align:center;">
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Urna)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Caixao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Flor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Coroa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Lapide)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Necromaquiagem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paramentacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Translado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Veu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caixao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Urna)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Flor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coroa)
                    </td>
                    @if (item.Lapide==1)
                    {
                        <td>
                            <img src="~/Imagens/certo.png" style="width: 25px; display:block; margin:0 auto;"/>
                        </td>
                    }
                    else {
                        <td >
                            <img src="~/Imagens/errado.png" style="width: 25px; display:block; margin:0 auto;" />
                        </td>
                    }
                    @if(item.Necromaquiagem==1)
                        {
                        <td>
                            <img src="~/Imagens/certo.png" style="width: 25px; display:block; margin:0 auto;"/>
                        </td>
                    }
                    else {
                        <td >
                            <img src="~/Imagens/errado.png" style="width: 25px; display:block; margin:0 auto;" />
                        </td>
                    }
                    @if(item.Paramentacao==1){
                        <td>
                            <img src="~/Imagens/certo.png" style="width: 25px; display:block; margin:0 auto;"/>
                        </td>
                    }
                    else {
                        <td >
                            <img src="~/Imagens/errado.png" style="width: 25px; display:block; margin:0 auto;" />
                        </td>
                    }
                    @if(item.Translado==1)
                        {
                        <td>
                            <img src="~/Imagens/certo.png" style="width: 25px; display:block; margin:0 auto;"/>
                        </td>
                    }
                    else {
                        <td >
                            <img class="center" src="~/Imagens/errado.png" style="width: 25px;" />
                        </td>
                    }
                    @if (item.Veu==1)
                    {
                        <td>
                            <img src="~/Imagens/certo.png" style="width: 25px;"/>
                        </td>
                    }
                    else {
                        <td >
                            <img src="~/Imagens/errado.png" style="width: 25px;" />
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                </tr>
            }

        </table>
        }
    }
}
