@model SistemaAnubis.Models.DTO.PlanoDTO
@using SistemaAnubis.Models.DTO;

@{
    ViewBag.Title = "Planos";

    if (SistemaAnubis.MvcApplication.Session.Instance.Nome == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        <div class="form-container" style="padding: 15% 0 10% 0;">
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <h1 class="text-center">Você precisa se logar!</h1>
                <div class="col text-center my-3">
                    <button onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-primary">Logar.</button>
                    <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Voltar ao início.</button>
                </div>
            </div>
        </div>

    }
    else
    {
        Layout = "~/Views/Shared/_Logado.cshtml";

        List<string> Planos = new List<string>();
        Planos.Add("");
        foreach (PlanoDTO dto in Model.arrayP)
        {
            Planos.Add(dto.ToString());
        }

        List<string> tipoCaixao = new List<string>();
        tipoCaixao.Add("");
        foreach (CaixaoDTO dto in Model.arrayC)
        {
            tipoCaixao.Add(dto.ToString() + " R$ " + dto.Valor.Replace(",", "."));
        }

        List<string> tipoUrna = new List<string>();
        tipoUrna.Add("");
        foreach (UrnaDTO dto in Model.arrayU)
        {
            tipoUrna.Add(dto.ToString() + " R$ " + dto.Valor.Replace(",", "."));
        }

        List<string> tipoCoroa = new List<string>();
        tipoCoroa.Add("");
        foreach (CoroaDTO dto in Model.arrayCO)
        {
            tipoCoroa.Add(dto.ToString() + " R$ " + dto.Valor.Replace(",", "."));
        }

        List<string> tipoFlor = new List<string>();
        tipoFlor.Add("");
        foreach (FloresDTO dto in Model.arrayF)
        {
            tipoFlor.Add(dto.ToString() + " R$ " + dto.Valor.Replace(",", "."));
        }

        using (Html.BeginForm("Planos", "Alterar", FormMethod.Post, new { @id = "formUrna", @style = "padding: 10% 0 10% 0;", @class = "form-container" }))
        {

            <legend class="text-center card-title" style="color:white">Alteração de planos</legend>
            <div class="form-group col-4 mx-auto" style="margin-bottom: 0;">
                <fieldset>

                    @Html.LabelFor(m => m.Nome)

                    @Html.DropDownListFor(m => m.Nome, new MultiSelectList(Planos), new { @class = "form-control" })


                    <div class="col text-center my-3">
                        <button type="submit" name="btn" value="Buscar" class="btn btn-primary">Buscar</button>
                    </div>

                    <hr style="border-color:white" />

                    @Html.LabelFor(m => m.Nome)

                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })

                    @Html.LabelFor(m => m.Caixao)

                    <select class="form-control" id="Caixao" name="Caixao">
                        @foreach (string caixoes in tipoCaixao)
                        {
                            if (caixoes.StartsWith(Model.Caixao))
                            {
                                <option selected="selected">@caixoes</option>
                            }
                            else
                            {
                                <option>@caixoes</option>
                            }

                        }
                    </select>

                    @Html.LabelFor(m => m.Urna)

                    <select class="form-control" id="Urna" name="Urna">
                        @foreach (string urna in tipoUrna)
                        {
                            if (urna.StartsWith(Model.Urna))
                            {
                                <option selected="selected">@urna</option>
                            }
                            else
                            {
                                <option>@urna</option>
                            }

                        }
                    </select>

                    @Html.LabelFor(m => m.Coroa)

                    <select class="form-control" id="Coroa" name="Coroa">
                        @foreach (string coroas in tipoCoroa)
                        {
                            if (coroas.StartsWith(Model.Coroa))
                            {
                                <option selected="selected">@coroas</option>
                            }
                            else
                            {
                                <option>@coroas</option>
                            }

                        }
                    </select>

                    @Html.LabelFor(m => m.QuantCoroa)

                    <input class="form-control" id="QuantCoroa" name="QuantCoroa" type="number" value="@Model.QuantCoroa">

                    @Html.LabelFor(m => m.Flor)

                    <select class="form-control" id="Flor" name="Flor">
                        @foreach (string flor in tipoFlor)
                        {
                            if (flor.StartsWith(Model.Flor))
                            {
                                <option selected="selected">@flor</option>
                            }
                            else
                            {
                                <option>@flor</option>
                            }
                        }
                    </select>

                    @Html.LabelFor(m => m.QuantFlor)

                    <input class="form-control" id="QuantFlor" name="QuantFlor" type="number" value="@Model.QuantFlor">

                    @Html.LabelFor(m => m.Veu)

                    @if (Model.Veu == 1)
                    {

                        <input class="form-control" id="V_u" name="Véu" type="checkbox" checked>
                    }
                    else
                    {
                        <input class="form-control" id="V_u" name="Véu" type="checkbox">
                    }

                    @Html.LabelFor(m => m.Lapide)


                    @if (Model.Lapide == 1)
                    {

                        <input class="form-control" id="Lap" name="Lap" type="checkbox" checked>
                    }
                    else
                    {
                        <input class="form-control" id="Lap" name="Lap" type="checkbox">
                    }

                    @Html.LabelFor(m => m.Necromaquiagem)

                    @if (Model.Veu == 1)
                    {

                        <input class="form-control" id="Necro" name="Necro" type="checkbox" checked>
                    }
                    else
                    {
                        <input class="form-control" id="Necro" name="Necro" type="checkbox">
                    }

                    @Html.LabelFor(m => m.Paramentacao)

                    @if (Model.Paramentacao == 1)
                    {

                        <input class="form-control" id="Paramenta__o" name="Paramentação" type="checkbox" checked>
                    }
                    else
                    {
                        <input class="form-control" id="Paramenta__o" name="Paramentação" type="checkbox">
                    }

                    @Html.LabelFor(m => m.Translado)

                    @if (Model.Translado == 1)
                    {

                        <input class="form-control" id="Transl" name="Transl" type="checkbox" checked>
                    }
                    else
                    {
                        <input class="form-control" id="Transl" name="Transl" type="checkbox">
                    }

                    @Html.LabelFor(m => m.Valor)

                    <input class="form-control" id="Valor" name="Valor" readonly type="text" value="@Model.Valor">

                    <div class="col text-center my-3">
                        <button type="submit" name="btn" value="Deletar" class="btn btn-primary">Deletar</button>
                        <button type="submit" name="btn" value="Salvar" class="btn btn-primary">Salvar</button>
                    </div>

                </fieldset>
            </div>
        }
    }
    
}

            <script>
                $(document).ready(function () {

                    $("#Transl").click(function () {
                        var transl = $("#Transl").is(":checked");
                        if (transl) {      /* $("#Valor").val() + 300) */

                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            $("#Valor").val(parseFloat($("#Valor").val()) + 300);
                        } else {
                            $("#Valor").val(parseFloat($("#Valor").val()) - 300);
                        }
                    });

                    $("#Paramenta__o").click(function () {
                        var transl = $("#Paramenta__o").is(":checked");
                        if (transl) {      /* $("#Valor").val() + 300) */

                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            $("#Valor").val(parseFloat($("#Valor").val()) + 750);
                        } else {
                            $("#Valor").val(parseFloat($("#Valor").val()) - 750);
                        }
                    });

                    $("#Necro").click(function () {
                        var transl = $("#Necro").is(":checked");
                        if (transl) {      /* $("#Valor").val() + 300) */

                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            $("#Valor").val(parseFloat($("#Valor").val()) + 500);
                        } else {
                            $("#Valor").val(parseFloat($("#Valor").val()) - 500);
                        }
                    });

                    $("#V_u").click(function () {
                        var transl = $("#V_u").is(":checked");
                        if (transl) {      /* $("#Valor").val() + 300) */

                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            $("#Valor").val(parseFloat($("#Valor").val()) + 20);
                        } else {
                            $("#Valor").val(parseFloat($("#Valor").val()) - 20);
                        }
                    });

                    $("#Lap").click(function () {
                        var transl = $("#Lap").is(":checked");
                        if (transl) {      /* $("#Valor").val() + 300) */
                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            $("#Valor").val(parseFloat($("#Valor").val()) + 377);
                        } else {
                            $("#Valor").val(parseFloat($("#Valor").val()) - 377);
                        }
                    });

                    var iUrna = 0;
                    var oldUrna = parseFloat($("#Urna").val().split(" R$ ")[1]);
                    $("#Urna").change(function () {
                        if ($("#Urna").val() != "") {
                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            let urnaVal = parseFloat($("#Urna").val().split(" R$ ")[1]);
                            iUrna++;
                            if (iUrna == 1) {
                                oldUrna = urnaVal;
                                $("#Valor").val(parseFloat($("#Valor").val()) + urnaVal);
                                iUrna++;
                            } else {
                                $("#Valor").val(parseFloat($("#Valor").val()) - oldUrna);
                                $("#Valor").val(parseFloat($("#Valor").val()) + urnaVal);
                                oldUrna = urnaVal;
                                iUrna++;

                            }
                        } else {
                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);

                            if (iUrna != 1)
                                $("#Valor").val(parseFloat($("#Valor").val()) - oldUrna);
                            if ($("#Valor").val() == "0") oldUrna = 0;

                        }
                    });

                    var iCai = 0;
                    var oldCai = parseFloat($("#Caixao").val().split(" R$ ")[1]);
                    $("#Caixao").change(function () {
                        if ($("#Caixao").val() != "") {
                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);
                            let caiVal = parseFloat($("#Caixao").val().split(" R$ ")[1]);
                            iCai++;
                            if (iCai == 1) {
                                oldCai = caiVal;
                                $("#Valor").val(parseFloat($("#Valor").val()) + caiVal);
                                iCai++;
                            } else {
                                $("#Valor").val(parseFloat($("#Valor").val()) - oldCai);
                                $("#Valor").val(parseFloat($("#Valor").val()) + caiVal);
                                oldCai = caiVal;
                                iCai++;

                            }
                        } else {
                            if ($("#Valor").val() == "")
                                $("#Valor").val(0);

                            if (iCai != 1)
                                $("#Valor").val(parseFloat($("#Valor").val()) - oldCai);
                            if ($("#Valor").val() == "0") oldCai = 0;

                        }
                    });
                    /*Manipulando valor pela flor e quantidade*/

                    var valFlor = parseFloat($("#Flor").val().split(" R$ ")[1]);
                    var oldFlor = parseFloat($("#Flor").val().split(" R$ ")[1]);
                    $("#Flor").change(function () {
                        if ($("#Flor").val() != "") {
                            valFlor = $("#Flor").val().split(" R$ ")[1];
                            if ($("#QuantFlor").val() == 0 || $("#QuantFlor").val() == "") {
                                if (valFlor) {
                                    $("#QuantFlor").attr('readonly', false);
                                } else {
                                    valFlor = 0;
                                    $("#QuantFlor").attr('readonly', true);
                                }
                                oldFlor = valFlor;
                            } else {
                                valFlor = $("#Flor").val().split(" R$ ")[1];
                                var total = parseFloat($("#QuantFlor").val()) * parseFloat(valFlor);
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat($("#QuantFlor").val()) * parseFloat(oldFlor));
                                oldFlor = valFlor;
                                oldQuantFlor = total;
                            }
                        } else {

                        }
                    });

                    var iFlor = 0;
                    var oldQuantFlor = parseFloat($("#QuantFlor").val().split(" R$ ")[1]);
                    console.log(oldQuantFlor);
                    $("#QuantFlor").change(function () {
                        if ($("#Valor").val() == "")
                            $("#Valor").val(0);
                        iFlor++;
                        if ($("#QuantFlor").val() == "" || parseFloat($("#QuantFlor").val()) <= 0) {
                            $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat(valFlor));
                            oldQuantFlor = 0;
                            iFlor = 0;
                            $("#QuantFlor").val(0);
                            if (parseFloat($("#Valor").val()) <= 0)
                                $("#Valor").val(0);

                        }
                        else {
                            if (i == 1) {
                                var total = parseFloat($("#QuantFlor").val()) * parseFloat(valFlor);
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                oldQuantFlor = total;
                            } else {
                                var total = parseFloat($("#QuantFlor").val()) * parseFloat(valFlor);
                                $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat(oldQuantFlor));
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                oldQuantFlor = total;

                                if ($("#Valor").val() == "0") oldQuantFlor = 0;
                            }
                        }
                    });


                    /*Manipulando valor pela coroa e quantidade */
                
                    var valCoroa = parseFloat($("#Coroa").val().split(" R$ ")[1]);
                    var oldCoroa = parseFloat($("#Coroa").val().split(" R$ ")[1]);
                    $("#Coroa").change(function () {
                        if ($("#Coroa").val() != "") {
                            valCoroa = $("#Coroa").val().split(" R$ ")[1];
                            if ($("#QuantCoroa").val() == 0 || $("#QuantCoroa").val() == "") {
                                if (valCoroa) {
                                    $("#QuantCoroa").attr('readonly', false);
                                } else {
                                    valCoroa = 0;
                                    $("#QuantCoroa").attr('readonly', true);
                                }
                                oldCoroa = valCoroa;
                            } else {
                                valCoroa = $("#Coroa").val().split(" R$ ")[1];
                                var total = parseFloat($("#QuantCoroa").val()) * parseFloat(valCoroa);
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat($("#QuantCoroa").val()) * parseFloat(oldCoroa));
                                oldCoroa = valCoroa;
                                oldQuantCoroa = total;
                            }
                        } else {

                        }
                    });

                    var i = 0;
                    var oldQuantCoroa = parseFloat($("#QuantCoroa").val().split(" R$ ")[1]);
                    $("#QuantCoroa").change(function () {
                        if ($("#Valor").val() == "")
                            $("#Valor").val(0);
                        i++;
                        if ($("#QuantCoroa").val() == "" || parseFloat($("#QuantCoroa").val()) <= 0) {
                            $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat(valCoroa));
                            oldQuantCoroa = 0;
                            i = 0;
                            $("#QuantCoroa").val(0);
                            if (parseFloat($("#Valor").val()) <= 0)
                                $("#Valor").val(0);

                        }
                        else {
                            if (i == 1) {
                                var total = parseFloat($("#QuantCoroa").val()) * parseFloat(valCoroa);
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                oldQuantCoroa = total;
                            } else {
                                var total = parseFloat($("#QuantCoroa").val()) * parseFloat(valCoroa);
                                $("#Valor").val(parseFloat($("#Valor").val()) - parseFloat(oldQuantCoroa));
                                $("#Valor").val(parseFloat($("#Valor").val()) + parseFloat(total));
                                oldQuantCoroa = total;
                                if ($("#Valor").val() == "0") oldQuantCoroa = 0;
                            }
                        }
                    });

                });

            </script>